@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;



.columns-mobile-2 .products-block>div .flags-extra{
@include media("<tablet") {
  bottom: 10px !important;
  right: 15px !important;
  width: auto !important;
 .flag
 {
  @include media("<tablet") {
border-radius: $radius-s;
  padding: $padding-s;

}
}


}
}

.type-category
{




  .breadcrumbs
{
    display: none;
} 

.columns-mobile-2 .products-block>div .flags-extra
{
    right: 5px;
@include media("<tablet") {
  bottom: 5px;
  right: inherit;
  width: unset;

}
}

.content-wrapper-in
{
    position: relative;
//  animation: breathing 4s ease-in-out infinite;
     animation: shadowMove 4s ease-in-out infinite;
     padding: $padding-xl;
  box-shadow: $shadow;
  &::before {
    @include glass-overlay(135deg, $modra, 0.1, $zluta, 0.05, 1);
  }
  @include glass($opacity: 0);

.category-top >.category-perex,
.category-top > #productsTop,
.category-top > h4
{
display: none;
}

   
h1
{
    @include nadpis(4rem);
}

h2
{
    @include nadpis(2rem);
}

.image
{
.flags-extra 
{
    right: 5px;


    .flag
{
    font-size: 18px;
    width: 80px;
    height: 80px;
    font-weight: 600;
}
.flag-discount
{
    background-color: $oranzova;
}
}
}

.category-content-wrapper
{
#category-header
{
display: none;
}

.products-block {
  column-gap: 20px;
  .flags-extra
  {
    .price-standard
    {
      display: none;
}

}

  @include products-block();



}

}

}

}