@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;




.type-category 
{

.category-top >.category-perex,
.category-top >.category-perex,
.category-top > #productsTop,
.category-top > h4
{
display: none;
}

#category-header
{
display: none;}

.breadcrumbs
{
    display: none;
}    

h1
{
    @include nadpis(4rem);
}

h2
{
    @include nadpis(2rem);
}


}