@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;
@use "keyframes";





.popup-widget-inner:not(.cart-widget-inner)
{
    @include media(">tablet") {
     background-color: transparentize($cerna, $opacity);
     border-radius: $radius-s;
    }
}


.top-navigation-bar-menu 
{

li
{

    &:before {
    content: ""; }
a {
    padding: 0px 5px;
    font-size: 16px;
}
}
}
.top-navigation-bar .dropdown button, .top-navigation-bar a
{color: $bila;}

.top-navigation-bar
{
    background-color: transparentize($cerna, $opacity-page);

    width: 100%;
    box-sizing: border-box;

    .top-navigation-contacts // email navíc
    {
        display: none !important;
    }
/* Odstranění ohraničení kolem divů pro řešení problému s šířkou */
.container
{padding-top: 5px;
    padding-bottom: 5px;
}
.contact-box {
    min-height: unset;


ul li>span.spotify::before {
    display: inline-block;
    content: url(https://585466.myshoptet.com/user/documents/upload/_nemazat_/spotify3.svg);
    margin-right: 0px;
    top: 4px !important;
}

}

ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;

li {
        margin-right: 10px; /* zmenšení mezery mezi položkami */

}

}


.contact-box li:last-child {
    margin-right: 0;
}


}

.top-navigation-bar .container > div:last-child, .top-navigation-bar .container > div:first-child
{
   flex-basis: auto;
   max-width: 100%;
   overflow: hidden;
}



#header
{
    .search
{
display: none;
}

@include media(">tablet") {

.header-top li.facebook a::before,
.header-top li.youtube a::before,
.header-top li.spotify a::before
{
  font-family: "Font Awesome 7 Brands";
  font-size: 25px;
}



.header-top li.facebook
{
 margin-left: 15px;
}

.header-top li.facebook a,
.header-top li.youtube a,
.header-top li.spotify a {
  font-size: 0; /* schová text */
background-color: transparent;
padding: 0 5px;

}

.header-top  li.facebook  a::before { @include fa-brand("\f09a"); } // Facebook
.header-top  li.youtube   a::before { @include fa-brand("\f167"); } // YouTube
.header-top  li.spotify   a::before { @include fa-brand("\f1bc"); } // Spotify

}

#navigation
    {
        @include media(">tablet") {
                 flex-basis: auto !important;
            flex: 3;
            align-self: center !important;
        }
    }


.btn.cart-count,
a.btn.cart-count

{
  &::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 26px !important;
    content: "\f07a"; // košík
  }
  &:hover
  {
    color: darken($zelena, 15%);
  }
 @include media("<tablet") 
 {
    top: -34px;
 }

  .cart-price {
font-size: 21px;  
}
}




    .navigation-buttons
    {
        @include media(">tablet") {
            flex-basis: auto;
        }
    }

    .header-top{
        @include media(">tablet") 
        {
            width: 100%;
            padding: 0;   
            display: flex;
            flex-wrap: wrap;
            height: 98px;
            margin: 40px 0;

            > div:first-child {
                flex: 0 0 222px !important; 
            }
            > div:nth-child(2) {
                flex: 1 1 auto !important;
            }
            > div:last-child {
                flex: 0 0 222px !important;
            }
        }
    }

    .site-name a img
    {
      
            margin: 0;
        margin-top: 5px;
        max-height: 100px;
    
        @include media("<=tablet") {
            max-height: 60px;
        }
    }
}

.navigation-buttons a[data-target=cart]
{
color: $zluta;

}

.navigation-buttons>a[data-target=cart] i 
{
    background-color: $zelena;
}

#navigation
{
@include media(">=tablet") {
    overflow: visible;
       }
 
}

.navigation-in {
  /* základní deklarace oddělím, kvůli mixed-decls */
  & {
    font-size: unset;
    line-height: unset;
  }

  @include media("<tablet") {
    & {
      background: transparentize($cerna, 0.1);
//    background-color: darken($bila, 70%);
      color: $bila;
    }
    a {
      color: $bila;

      &:hover {
        color: $zluta; // volitelné
      }
    }
  }
}



.fitted .navigation-in ul 
{
    justify-content: center !important;

    li  
    {    
        margin-right: 10px;

        a
        {
            background-color: transparentize($cerna, $opacity-page);
            border-radius: $radius-s;
            font-size: 24px;
            padding: 7px 20px;          // mezera kolem textu
        }
        // aktivní/rozbalené položky
        &.exp > a {
            background-color: transparentize($cerna, 0.7);
        }

        // hover efekt na odkazu
        > a:hover {
            background-color: transparentize($cerna, 0.7);
        }
    }
}

.responsive-tools>a[data-target=search]:before
{
 display: none;
}

.responsive-tools>a[data-target=navigation]:before, .responsive-tools>a[data-target=navigation]:hover:before
{
    background-color: #{$zelena};
}

    // [data-target="search"],
    // [data-testid="productCardDescr"],
    // .responsive-tools>a[data-target=search]:before,
    // .responsive-tools>a:before
    // {
    //   @include media("<=tablet") {
    //     display: none !important;
    //   }
    // }

