@use "../defaults/_variables" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;
#header
{
    .search
    {
    display: none;
    }
  .header-top, .header-top a {
  color: $zluta;
}   
    background-color: $modra;
    color: white;
}