@use "../defaults/_variables" as *;
@use "../defaults/_mixins" as *;

@keyframes footerGlow {
  0%, 100% {
    box-shadow: 0 10px 15px rgba(244, 0, 183, 0.5);
  }
  50% {
    box-shadow: 0 10px 30px rgba(244, 0, 183, 1);
  }
}

@keyframes breathing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}