@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;

:root {
	--color-primary: #{$zluta};
    --color-primary-hover: #{$zelena};

}

.btn, a.btn
{
    font-size: 16px;
    line-height: 1.5;
}

.h3, .h4, .h5, .h6, h2, h3, h4, h5, h6
{
    font-weight: 700 !important;
    color: $bila;
}


.h3, h3
{
    font-size: 20px;
}

.h5, h5
{
    font-size: 17px;
}

   .top-nav-scroll
  {
  background-color: transparentize($cerna, 0.2);
    backdrop-filter: blur($blur-light);

  position: fixed;
      width: 100%;
      /* height: 40px */
  z-index:1000;
  line-height:25px;
}
  



.btn.btn-secondary, a.btn.btn-secondary
{
    background-color: transparentize($cerna, $opacity);
    border-radius: $radius-s;
}

.radio-wrapper input[type=checkbox]:checked+label:before, .radio-wrapper input[type=radio]:checked+label:before,
.radio-wrapper input[type=checkbox]:checked+label:after, .radio-wrapper input[type=radio]:checked+label:after,
input[type=checkbox]:checked+label:before, input[type=radio]:checked+label:before
{
    background-color: $tmava;
    border-color: $zelena;
}

.radio-wrapper input[type=checkbox]:checked+label:after, .radio-wrapper input[type=radio]:checked+label:after
{
    border-color: $tmava;
}

.quantity input
{
    font-size: 20px;
}

.unit-value,
.additional-information
{
    color: $bila;
}

.btn.btn-primary, a.btn.btn-primary
{
    background-color:$zelena;
    border: 0;
    color: $bila;
    border-radius: $radius-s;

    &:hover
    {
        background-color: darken($zelena, 10%);
    }
}

.btn.btn-conversion,
a.btn.btn-conversion

{
            background-color: $tmava;
            border-radius: $radius-m;
            border: 0;

    &:hover
    {
        background-color:transparentize($zelena, $opacity);
        border: 0;
    }
}

.top-navigation-bar, .navigation-in > ul > li, .homepage-box, .custom-footer, .footer-bottom, .footer-links-icons
{
    border: 0;
}
.top-navigation-bar-menu, .top-navigation-bar-menu-helper
{
 text-transform: unset;
}

.top-navigation-bar
{
    font-size: 16px;
.container>div
{
text-align: right;
}


}
.cart-empty .empty-cart-boxes
.cart-empty .cart-row,
.contact-box>strong,
.cart-inner .sidebar-in-cart h4
 {
display: none !important;
}



.external-fonts-loaded .empty-content, .blank-mode .empty-content, .SizeID-button .sb-button, .SizeID-button .sb-button span, .external-fonts-loaded .vote-name, .blank-mode .vote-name, .external-fonts-loaded body, body.blank-mode, .external-fonts-loaded, .blank-mode, .external-fonts-loaded h1, .external-fonts-loaded h2, .external-fonts-loaded h3, .external-fonts-loaded h4, .external-fonts-loaded h5, .external-fonts-loaded .h1, .external-fonts-loaded .h2, .external-fonts-loaded .h3, .external-fonts-loaded .cart-table .main-link, .external-fonts-loaded .cart-related-name, .blank-mode h1, .blank-mode h2, .blank-mode h3, .blank-mode .cart-table .main-link, .blank-mode .cart-related-name, .header-top .btn.cart-count .cart-price, .btn.btn-default, a.btn.btn-default, .external-fonts-loaded .btn, .external-fonts-loaded .price-final, .external-fonts-loaded .products .name {
    font-family: var(--main-font);
}

body
{
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
   // position: absolute;
    position: relative;    
}

    body.in-index {
    @include media(">tablet") {
    &::before {
      content: "";
      position: fixed;
      left: 0;
      bottom: 0;
      width: 500px;
      height: 100vh;
      background-image: url('https://www.standaklapuch.com/user/documents/upload/_nemazat_/standa.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left bottom;
      background-blend-mode: multiply;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
         animation: StandaZoom 1.5s ease-in forwards 0.2s; // trvá 1.5s, start po 0.2s

    }
  }
 }





.top-navigation-menu, .top-navigation-contacts, #header, .homepage-box, 
#footer > .container, .breadcrumbs, .sidebar, body, .cart-content, .cart-header, .cart-table tr td, .cart-table tr td.cart-p-image, .in-dekujeme #content,.quantity .increase, .quantity .decrease
 {
     background-color: transparent !important; 
@include media(">tablet") {
.navigation-in
{
         background-color: transparent !important; 

}

}
}