@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;


.type-page 
{

.breadcrumbs
{
    display: none;
}    

#content-wrapper
{
.content-wrapper-in
{
    position: relative;
//  animation: breathing 4s ease-in-out infinite;
     animation: shadowMove 4s ease-in-out infinite;
     padding: $padding-xl;
  box-shadow: $shadow;
  &::before {
    @include glass-overlay(135deg, $modra, 0.1, $zluta, 0.05, 1);
  }
  @include glass();

}
.content-inner
{
    max-width: unset
}
h1
{
    @include nadpis(4rem);
}
h2
{
    @include nadpis(2.5rem);
}


}

}

.id-714
{

article >div {
  display: flex;
  flex-wrap: wrap; // umožní zalomení, pokud se nevejdou na šířku
  gap: 20px;       // mezera mezi videi

  p {
    margin: 0;
    flex: 1 1 45%; // každé video zabere cca 45 % šířky (dvě vedle sebe)
    iframe {
      width: 100%; // iframe se roztáhne na šířku rodiče
      height: auto;
      aspect-ratio: 16/9; // udrží poměr stran
    }
@include media("<=tablet") 
{
  flex-basis: 100%; // na menších obrazovkách zabere každé video celou šířku
}

  }

}

}

.in-news #content-wrapper .content-wrapper-in 
{

    background-color: transparent !important;

article ul {
  list-style: none;
  padding: 0;
  margin: $padding-l;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  width: 100%;
  @include media("<=tablet") {
   margin: 0;
  }
}

article ul li {
  box-sizing: border-box;
  position: relative;
  min-height: 55px;
 

  &::after {
    @include glass-overlay(135deg, $modra, 0.1, $zluta, 0.05, 1);
  }
  @include glass();
      padding: 14px 10px 12px 40px;

}

@include media("<=tablet") {
  article ul {
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }
}



article ul li:hover {
  background: rgba(255,255,220,0.1);
}

article ul li::before {
  content: "📅";
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 14px;
  opacity: 0.9;
}


article ul li a:hover {
  text-decoration: underline; 
}


// @include media(">tablet") 
// {
//   article ul li {
//     font-size: 1em;
//     padding: 14px 10px 12px 40px;
//   }
//   article ul li::before {
//     left: 8px;
//     top: 15px;
//     font-size: 14px;
//   }
// }

}