@use "../defaults/_variables" as *;
@use "../defaults/_media" as *;
@use "../defaults/_mixins" as *;
@use "../defaults/_fonts" as *;


.type-product
{




  .price-final
{
    color: $zelena;
}



.breadcrumbs,
.add-to-cart__quantity-label, .detail-parameters th,
.social-buttons-wrapper,
.p-thumbnails-wrapper,
.shp-tabs-wrapper
{
    display: none;
}
h1
{
    @include nadpis(4rem);
@include media("<tablet") {
    @include nadpis(3rem);
  }
  }

h2
{
    @include nadpis(2rem);
}

.p-image-wrapper
{

.flag-discount
{
  display: none;
}

.p-image img
{
  border-radius: $radius-s;
}

}



.p-detail-inner
{
    position: relative;
//  animation: breathing 4s ease-in-out infinite;
     animation: shadowMove 4s ease-in-out infinite;
     padding: $padding-xl;
  box-shadow: $shadow;
  &::before {
    @include glass-overlay(135deg, $modra, 0.1, $zluta, 0.05, 1);
  }
  @include glass();

  .p-info-wrapper
{
  .variant-list
  {
    select
    {
      width: 260px;
      background-color: transparentize($bila, $opacity);
      font-size:  20px;
      color: $cerna;
      padding: 8px;
      border-radius: $radius-s;
    }
  }

 .price-additional, .price-standard
{
  font-size: 18px;
}
.price-save
{
  color: $oranzova;
  font-weight: 500;
  font-size:21px;
  font-family: var(--main-font);
}
  .quantity
  {
    border-radius:5px;
    margin-right: 8px;
    border-style:solid;
    input
    {
      width: 40px;
    }
  }
  .add-to-cart-button
  {
     &:hover
    {
        background-color: darken($zelena, 10%);
    }
  &:before
  {
    font-size: 15px;
  }
    font-size: 20px;
    background-color:$zelena;
    border: 0;
    color: $bila;
    border-radius: $radius-s;
  }
 

}

}

}