@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Crimson Text';
  src: url('https://cdn.myshoptet.com/usr/380023.myshoptet.com/user/documents/webs/lib/fonts/crimson_text/CrimsonText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


.external-fonts-loaded,
.blank-mode,
.external-fonts-loaded #navigation,
.external-fonts-loaded body,
body.blank-mode,
.external-fonts-loaded h1,
.external-fonts-loaded h2,
.external-fonts-loaded h3,
.external-fonts-loaded h4,
.external-fonts-loaded h5,
.external-fonts-loaded h6,
.external-fonts-loaded .h1,
.external-fonts-loaded .h2,
.external-fonts-loaded .h3,
.external-fonts-loaded .h4,
.external-fonts-loaded .h5,
.external-fonts-loaded .h6,
.external-fonts-loaded .cart-table .main-link,
.external-fonts-loaded .cart-related-name,
.blank-mode h1,
.blank-mode h2,
.blank-mode h3,
.blank-mode h4,
.blank-mode h5,
.blank-mode h6,
.blank-mode .h1,
.blank-mode .h2,
.blank-mode .h3,
.blank-mode .h4,
.blank-mode .h5,
.blank-mode .h6,
.blank-mode .cart-table .main-link,
.blank-mode .cart-related-name,
.p-final-price-wrapper .price-final,
.quantity input,
.footer-rows .news-item-widget h5,
#header .site-name a.text-logo


{
  font-family: "Crimson Text", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
}