@mixin marginX($px) {
	margin-left: $px;
	margin-right: $px;
}

@mixin marginY($px) {
	margin-top: $px;
	margin-bottom: $px;
}

@mixin paddingX($px) {
	padding-left: $px;
	padding-right: $px;
}

@mixin paddingY($px) {
	padding-top: $px;
	padding-bottom: $px;
}
