$obrazky: 'https://dev.davidboruvka.cz/user/documents/webs/dev.davidboruvka.cz/images/';
$url_pozadí: $obrazky + 'pozadi.jpg';
$breakpoints: (
	0: 0px,
	xs: 480px,
	s: 768px,
	m: 992px,
	l: 1200px,
	xl: 1440px,
);


$pozadi: transparent;
$modra: #21556d;
$zluta: #fbbf24;
$oranzova: #f17d3e;
$zelena: #7fbb42;
$tmava: #3d7637;
$bezova: #ffe7ad;
$cerna: #020101;
$bila: #f7f3f3;
$border: #d9d9d9;

 $radius-s: 12px;
$radius-m: 16px;
 $radius-l: 24px;
 $radius-xl: 32px;

$padding-s: 0.5rem;
$padding-m: 1rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;


$xs: 480px;
$s: 768px;
$m: 992px;
$l: 1200px;
$xl: 1440px;

$xs-1: 479px;
$s-1: 767px;
$m-1: 991px;
$l-1: 1199px;
$xl-1: 1439px;