$obrazky: 'https://cdn.myshoptet.com/usr/dev.davidboruvka.cz/user/documents/standaklapuch.com/images/';
$breakpoints: (
	0: 0px,
	xs: 480px,
	s: 768px,
	m: 992px,
	l: 1200px,
	xl: 1440px,
);

$cervena: yellow;
$nadpis: 17px;

$xs: 480px;
$s: 768px;
$m: 992px;
$l: 1200px;
$xl: 1440px;

$xs-1: 479px;
$s-1: 767px;
$m-1: 991px;
$l-1: 1199px;
$xl-1: 1439px;