$obrazky: 'https://dev.davidboruvka.cz/user/documents/webs/dev.davidboruvka.cz/img/';
$url_pozadí: $obrazky + 'pozadi.jpg';
$blur: 6px;
$blur-light: 4px;
$opacity-page: 0.4;
$opacity: 0.4;
$shadow: 5px 5px 20px rgba(251, 191, 36, 0.3);
 
$pozadi: transparent;
$modra: #21556d;
$zluta: #fbbf24;
$oranzova: #f17d3e;
$zelena: #7fbb42;
$tmava: #3d7637;
$bezova: #ffe7ad;
$cerna: #020101;
$bila: #fff;

$border: #d9d9d9;

$nadpis: $zluta;

 $radius-s: 12px;
$radius-m: 16px;
 $radius-l: 24px;
 $radius-xl: 32px;

$padding-s: 0.5rem;
$padding-m: 1.5rem;
$padding-l: 2.5rem;
$padding-xl: 5rem;