
@media only screen and (min-width: 800px) {
  .in-e-shop .category-top {
    margin: auto;
    max-width: 800px;
  }
}

@media only screen and (min-width: 768px) {
  

.top-navigation-bar .container>div 
{
  text-align:right;
}


  .header-top 
  {
    width: 100% !important;
    padding: 0;
  }

  .site-name-wrapper /* logo  */ {
    flex-basis: auto !important;
    flex: 2;
  }

  .fitted .navigation-in ul {
    justify-content: center !important;
    /* align-items: center!important; */
  }

  #navigation /* navigace */ {
    flex-basis: auto !important;
    flex: 3;
    align-self: center !important;
  }

  .ordering-process #header {
    border: 0;
  }

  .cart-table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid white;
  }

  .products-block.products {
    justify-content: center !important;
  }

  .navigation-buttons /* košík */ {
    flex-basis: auto !important;
    flex: 1;
  }

  /* .navigation-buttons
  {
  flex-basis:auto !important;
  justify-content:flex-end;
  }
  
  #navigation
  {
  flex-basis:content !important;
  justify-content:center;
  } */

  
  .id-714 article div
  {
      display: flex;
      flex-direction: row;
      row-gap: 2em;
      
      justify-content:space-between;
              flex-wrap: wrap;
  }


  .id-714 .content-inner
   {
    max-width:max-content;
        }
      
.id-714 article div p
{ 
width: calc(50% - 10px);

}
      



  .btn.btn-sm,
  a.btn.btn-sm {
    padding: 1em 0.5em;
  }

  

    .cart-inner {
    padding-top: 11vh;
  }
  #navigation {
    margin: 0;
    position: inherit;
    height: auto;
  }
  .navigation-in,
  .navigation-in ul li {
    position: inherit;
  }

  .navigation-in > ul > li > a {
    padding-top: 0;
  }

  .navigation-in > ul > li.exp > a,
  .navigation-in > ul > li > a:hover {
    background-color: transparent !important;
  }


  .in-krok-1 .cart-header,
  .in-krok-2 .cart-header 
  {
    margin-top: -18px !important;
  }

  .cart-header {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }

  ol.cart-header li a,
  ol.cart-header li strong {
    border-bottom-width: 0;
  }

  .top-navigation-tools {
    margin-top: 0.5em;
  }

  .content {
    padding-top: 30vh;
  }

   
   .top-nav-scroll
  {
  background-color: hsla(141, 65%, 75%, 0.9) !important;   
  position: fixed;
      width: 100%;
      /* height: 40px */
  z-index:1000;
  line-height:47px;   
}
  



}



@media (min-width: 768px) and (max-width: 1200px) {
  /* tablet*/  
  .id-714 .content-inner
  {
  max-width:initial;
  height:auto;
  }
  .navigation-in
  {
  font-size:25px;
  
  }
  .custom-footer>div
  {
  width:100%;
  }
  .top-navigation-contacts
  {
  visibility: hidden;
  }
  .id-714 article div
  {
  flex-direction: column;
  row-gap:1em;
  }
  .id-714 article div p
  {
  width:100%
  }
  
  .id-714 iframe
  {
  width:inherit;
  }
  
  }
  
  





@media only screen and (min-width: 992px) {

.cart-content 
{
    padding-bottom: 0 !important;

}
.price-wrapper+.next-step
{
    margin-bottom:12px;
      margin-top:12px;
}
.cart-content+.cart-content {
    margin-top: 0px !important;
}

}


@media only screen and (min-width: 321px) and (max-width: 767px) {

  .navigation-in a {
    text-shadow: 0 1px var(--color-secondary);
}


  #footer  .contact-box ul li
{
  padding: 0;
  line-height: 1 !important;
}
.contact-box ul li>span.spotify::before
{

top: 0px !important;

}


  .custom-footer ul
  {
    flex-direction:column !important;
  }


  #header .site-name {
  top:-20px;
  }
  .responsive-tools>a[data-target="navigation"]
  {
    top:5px;
  }

  .navigation-in a
  {
    color: var(--color-primary) important;
  }

  #navigation

  {
    background-color:rgba(255, 255, 255, 0.94) !important;
  }

  .columns-mobile-2 .products-block>div
{
  width:100%;
}

#content-wrapper
{
  margin-top:50px !important;
}

.scrolled-down body:not(.ordering-process):not(.search-window-visible) #header .site-name
{
  transform: translateY(-200%);
}

}

@media only screen and (max-width: 481px)
{
  
  body {
    background-image: var(--bg-mobil);
  }
}